<div align="center">
	<div class="w-50 p-3">
		<form action="/admin_panel" method="POST" align="center">
			<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<div class="w-100 p-3" style="background-color: #eee;">
					<div class="form-group">
					    <label>Имя мастера</label>
					    <input name="master" type="text" class="form-control" placeholder="Введите имя мастера">
					</div>
					<button type="submit" class="btn btn-outline-primary">Зарегистрировать</button>
				</div>
			</div>
		</form>
	</div>	
</div>	