<h2 align="center" ><i>Наши контакты</i></h2>

<div class="w-50 p-3">
	<div class="shadow-lg p-3 mb-5 bg-white rounded">
		<div class="w-100 p-3" style="background-color: #eee;">
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">Телефоны</p>
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947874</p>
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947875</p>
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">+99312947876</p>
			<br/>
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">E-mail</p>
			<p align="center"; style="color:#191970; font-family:Georgia; font-size:20px">info@grebeshok.com</p>


			<form align="left" action="/contacts" method="post">
			Имя:<br>
			<input type="name" name="user" class="form-control" id="exampleInputEmail1" placeholder="Имя">
			Email:<br>
			<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			Коментарии:<br>
			  <textarea name="coment" class="form-control" id="story"
			            rows="5" cols="33">

			  </textarea><br/>
			<button type="submit" class="btn btn-outline-primary">ОТПРАВИТЬ </button>
			</form><br>
		</div>	
	</div>
</div>
	
<br>
<br>
